%aside.appBanner
  .inner
    %h2.inner__title 誰でもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to '#' do
        = image_tag 'app-store.svg', class: "linkIcon aBtn"
      = link_to '#' do
        = image_tag 'google-play.svg', class: "linkIcon gBtn"