= render "toppages/header"

.done#fullsize
  .done__title
    商品を削除しました
  .done__backlink
    = link_to 'トップページへ戻る', root_path, class: 'link'

= render "toppages/footer"
= render "toppages/purchaseBtn"

