.delete-done {

  @include -height-width(60vh, 100%);
  padding: 100px;
  
  &__title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;

    p{
      margin-top:14px;
      font-size:14px;
    }
  }
  
  &__link {
      width: 100px;
      height: 50px;
      background-color: #3CCACE;
      display: block;
      margin: 15px auto;
      border-radius: 4px;
      text-align: center;
  }
  .link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 50px;
  }
}