.Single__header{
  background-color:rgb(245, 245, 245);
  height: 90px;
  text-align: center;
  padding-top: 20px;
}
.Single-main{
  display: block;
  height: 910px;
}
.Login-panel{
max-width: none;
width: 456px;
margin: 0 auto;
background: antiquewhite;
height: 910px;
}
.Login-no-account{
  padding: 20px 64px;
  text-align: center;
  &__p{
    font-size: 14px;
  }
  &__Login{
    display: block;
    margin: 12px 0 0;
    background-color:blue;
    border: 1px solid;
    color: azure;
    line-height: 40px;
    text-decoration: none;
  }
}
.Login-form-inner{
  height: 262px;
  padding: 25px 64px;
  &__btn{
    display: block;
    height: 68px;
    width :328px;
    margin:25px 0 0;
    border-radius: 10px;
    font-size:16px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    &--icon{
      padding-right:20px;
    }
    &--google{
      background-color: #00bfff;
    btn--google{
      color: black;
    }
    }
    &--facebook{
      background-color: blue;
    }
    &--apple{
      background-color: black;
    }
  }
}
.Form{
  padding: 15px 40px 32px;
  height: 453px;
  &__group{
    width: px;
    height: 38px;
    padding: 10px 16px 14px;
    border-radius: 8px;
    border: 1px solid;
    line-height: 5px;
    font-size: 16px;
    background-color:white;
    margin: 20px;
    &--input-text{
      border: none;
      padding: 3px 0 0 0;
    }   
  }
  &__button{
    display: block;
    margin: 30px 16px 0;
    text-align: center;
    background-color: red;
    color: white;
    border: 1px solid;
    line-height: 62px;
    font-size: 16px;
    border-radius: 9px;
    transition: all;
    cursor: pointer;
    text-decoration: none;
  }
  &__coments{
    display: block;
    margin: 40px 0 0 17px;
    color: blue;
    text-decoration: none;
  }
}