.logout-wrapper{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: #f8f8f8;
  @include -height-width(100vh, 100vw);
  display: flex;

  .contents{
    @include -height-width(calc(100vh - 500px), calc(100vw - 600px));
    @include vertical-and-horizontal-center();
    background-color: white;
    margin:50px 0px 0px 50px;
    &__logout{
      @include -height-width(80px,400px);
      @include vertical-and-horizontal-center();
      background-color:red;
      border-radius: 5px;
      .logout-btn{
        @include -height-width(100%, 100%);
        @include vertical-and-horizontal-center();
        text-decoration: none;
        color:white;
      }
    }

    &__logout:hover{
      opacity: 0.7;
    }
  }
}