//mixin記述用SCSSファイル

//要素の縦横の長さを定義する
@mixin -height-width($height,$width) {
  height: $height;
  width: $width;
}

//子要素を縦横中央に配置する
@mixin vertical-and-horizontal-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background($backSize: (), $backRe: no-repeat, $backPos: top center) {
  background-size: $backSize;
  background-repeat: $backRe;
  background-position: $backPos;
}

@mixin shadow($foSize: (), $liHe: (), $teSha: 0 0 5px rgba(0,0,0,0.4), $color: #fff) {
  font-size: $foSize;
  line-height: $liHe;
  text-shadow: $teSha;
  color: $color;
}

@mixin LabelBox {
  display: flex;
  align-items: center;
}
@mixin ItemsLabel {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
@mixin ItemsSpan {
  margin-left: 8px;
  font-size: 12px;
  padding: 0 4px;
  background-color: #ff0211;
  color: #fff;
  border-radius: 2px;
  display: block;
  font-weight: 600;
  line-height: 1.4em;
}
@mixin InputForm{      
  border: 1px solid #ccc;
  border-radius: 4px;      
  margin: 16px 0 32px 0;
  width: 100%;
  height: 48px;
  padding:0 16px;
}
@mixin SelectForm {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 16px 0 32px 0;
  width: 100%;
  height: 48px;
  padding: 0 56px 0 16px;
}