.mypage-wrapper{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: #f8f8f8;
  @include -height-width(100vh, 100vw);
  display: flex;

  .contents{
    @include -height-width(600px, calc(100vw - 700px));
    background-color: white;
    margin:50px 0px 0px 50px;
  }
}