.item__body {
  width: 100%;
  height: 100%;
  &__title {
    padding: 30px;
    color: #3ccace;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  &__lists {
    width: 95%;
    margin: 26px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__list {
      width: 220px;
      height: 230px;
      display: inline-block;
      position: relative;
      margin-top: 20px;
      margin-right: 20px;
      .list__body {
        color: #333;
        padding: 16px;
        height: 80px;
        width: 220px;
        h3 {
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .list__price {
        font-size: 16px;
        color: #333333;
        p {
          font-size: 10px;
          text-align: left;
          color: #333333;
          font-weight: normal;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;
        }
      }
      a {
        background-color: #fff;
        display: inline-block;
        text-decoration: none;
        position: relative;
        figure {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }
      }
    }
  }
}