* {
  box-sizing: border-box;
}
.main{
  background-color: whitesmoke;
  .showMain{
    padding: 40px;
    margin: 0 auto;
    .contentLeftqq{
      margin: 0;
      padding: 0;
    }
    .contentRight{
      width: 700px;
      margin: 0 auto;
      .topContent{
        margin: 0;
        padding: 0;
        .itemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body{
            margin: 16px 0 0;
              ul.ul1{
                display: flex;
                position: relative;
                li.images{
                  display: flex;
                  flex-direction: column;
                  width: 560px;
                  margin: 0 auto;
                  .image1{
                    object-fit: cover;
                    height: 346px;
                  }
                  ul.ul2{
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    li.li1{
                      width: 25%;
                      margin: 0 10px 0 0;
                      .image2{
                        object-fit: cover;
                        height: 87px;
                        width: 100%;
                      }
                    }
                    li.li2{
                      width: 25%;
                      margin: 0 10px 0 0;
                      .image3{
                        object-fit: cover;
                        height: 87px;
                        width: 100%;
                      }
                    }
                  }
                }
              }
          }
          &__price{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span1{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            .priceDetail{
              font-size: 16px;
              span{
                box-sizing: border-box;
              }
            }
          }
          .itemDetail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table{
            margin-bottom: 20px;
            table{
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody{
                box-sizing: border-box;
                tr{
                  box-sizing: border-box;
                  th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a{
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          .optionalArea{
            display: flex;
            justify-content: space-between;
            ul{
              margin: 10px 0 0;
              display: flex;
              li.likeBtn{
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                .fa.fa-star{
                }
              }
            }
            ul:hover{
              opacity:0.7;
            }
            ul.optional{
              li.optionalBtn{
              font-size: 14px;
                a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
                }
              }
            }
          }
          .my_page_btn{
            display: flex;
            flex-direction: column;
            align-items: center;
              .edit_btn{
                text-decoration: none;
                text-align: center;
                margin: 20px 0;
                line-height: 48px;
                background-color: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
              }
              .destroy_btn{
                text-align: center;
                text-decoration: none;
                line-height: 48px;
                background-color: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
              }
          }
        }
        .commentBox{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .commentContents{
            list-style: none;
          }
          .new_comment{
            margin: 0;
            padding: 0;
            .textarea{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            .noticeMsg{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .commentBtn{
              line-height: 48px;
              background-color: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              .fa.fa-comment{
                display: block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
        }
      }
      .links{
        list-style: none;
        .right{
          float: left;
          a{
            text-decoration: none;
            color: #3CCACE;
            .fa{
              text-decoration: none;
              color: #3CCACE;
              .fa.fa-angle-left{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing:antialiased;
              }
              span{
                box-sizing: border-box;
              }
            }
          }
        }
          .left{
            float: right;
            a{
              text-decoration: none;
              color: #3CCACE;
              .fa.fa-angle-right{
                text-decoration: none;
                color: #3CCACE;
                span{
                  box-sizing: border-box;
                }
                .fa.fa-angle-right{
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
          }
        }
      .relatedItems{
        margin: 0;
        padding: 0;
        a{
          display: block;
          margin: 50px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
      .productLists{
        margin: 0;
        padding: 0;
        .productList{
          margin: 0 0 10px;
          width: calc(100% / 3);
          .link{
            display: block;
            margin: 24px 0 8px;
            color: #3CCACE;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
            figure.productList--img{
              background-color: #fff;
              .img{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body{
              background-color: white;
              color: #333;
              padding: 16px;
              h3.name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                    margin: 0;
                    padding: 0;
                  }
                  li{
                    margin: 0;
                    padding: 0;
                    .fa.fa-star.likeIcon{
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
          .link:hover{
            opacity: 0.7;
          }
        }
      } 
    }
  }
}


