.sidelist{
  @include -height-width(650px, 250px);
  background-color: white;
  margin:50px 0px 0px 100px;

  table{
    @include -height-width(200px,250px);

    td.list{
      @include -height-width(50px,250px);
      background-color: #fff;
      color:black;
      border-bottom: 1px solid rgb(60,202,206);

      .tabel-btn{
        display: block;
        text-decoration: none;
        color:rgb(51,51,51);
      }

      .tabel-btn:hover{
        opacity: 0.7;
      }
    }

    td.list:hover{
      background-color:rgb(238, 236, 236);
    }
  }
}