* {
  box-sizing: border-box;
}

.wrapper{
  //フォントの指定
  font-family: "Arial","游ゴシック体","YuGothic","メイリオ","Meiryo","sans-serif";  

  @include -height-width(1000px, 100vw);
  background-color: lightgray;
  
  .header{
    @include -height-width(100px, 100vw);
    @include vertical-and-horizontal-center;

    .logo{
      @include -height-width(40%, 10%);
      object-fit: cover;
      margin-top: 10px;
    }
  }

  .main{
    @include -height-width(860px, 100vw);
    display: flex;
    justify-content: center;
    background-color: lightgray;
    &__purchase-details{
      @include -height-width(840px, 700px);
      background-color:white;
      display: flex;
      justify-content: center;

      //「購入内容の確認」の見出し用
      &__headline-box{
        &__headline{
          @include -height-width(100px, 340px);
          @include vertical-and-horizontal-center;
          border-bottom: 1px solid rgb(60,202,206);
          h1{
            font-size: 24px;
            font-weight: 600;
          }
        }
      }

      &__product{
        @include -height-width(160px, 340px);
        position: relative;
        border-bottom: 1px solid rgb(60,202,206);

        &__image-box{
          &__image{
            .product-image{
              @include -height-width(28%, 28%);
              object-fit: cover;
              padding-top: 15px;
              padding-left: 10px;
            }
          }
        }

        &__name-box{
          //商品名
          &__name{
            @include -height-width(80px, 230px);
            position: absolute;
            top:15px;
            left:100px;
            text-align: start;
            font-size: 12px;
          }
          //金額
          &__price{
            @include -height-width(20px, 340px);
            text-align: end;
          }
        }
      }

      //payment-amount(支払い金額)
      &__payment-amount{
        @include -height-width(120px, 340px);
        border-bottom: 1px solid rgb(60,202,206);
        display: flex;
        &__headline{
          @include -height-width(30px, 170px);
          padding-top: 15px;
          padding-left: 5px;
          h1 {
            font-size: 18px;
            font-weight: 900;
          }
        }

        &__actual-payment-amount{
          @include -height-width(30px, 170px);
          h2 {
            padding-top: 20px;
            font-size: 20px;
            font-weight: 600;
            text-align: end;
          }
        }
      }
      //method-of-payment(支払い方法)
      &__method-of-payment{
        @include -height-width(200px, 340px);
        padding-top: 15px;
        padding-left: 5px;
        border-bottom: 1px solid rgb(60,202,206);

        h1{
          font-size: 18px;
          font-weight: 600;
        }

        &__card{
          @include -height-width(90px, 170px);
          margin-top: 30px;
          .card-icon{
            @include -height-width(30%, 30%);
            object-fit: cover;
            margin-top: 10px;
          }
        }
      }
      //shipping-address(配送先住所)
      &__shipping-address{
        @include -height-width(120px, 340px);
        border-bottom: 1px solid rgb(60,202,206);
        margin-top: 20px;
        margin-left: 5px;
        h1 {
          font-weight: 900;
        }
        p {
          font-size: 14px;
          font-weight: 400;
        }
      }

      //buybtn(購入ボタン)
      &__buybtn-field{
        @include -height-width(100px, 340px);
        @include vertical-and-horizontal-center;
        &__buybtn{
          @include -height-width(60px, 220px);
          background-color: rgb(60,202,206);
          color:white;
          border-radius:10px;

          h1{
            font-weight: 900;
          }
          //link_toクラス(text-decoration)の縦横を100%に指定すれば、要素全体がリンクになる。
          .text-decoration{
            @include vertical-and-horizontal-center;
            height:100%;
            width: 100%;
            text-decoration: none;
            color:white;
          }
        }
        //要素上にマウスが乗ったら
        &__buybtn:hover{
          opacity: 0.7;
        }
      }
    }
  }

  .footer{
    background-color: lightgray;
    display: flex;
    align-items: center;
    &__box{
      @include -height-width(50px, 500px);
      background-color: red;
      display: flex;
      justify-content: space-around;
      .term{
        text-decoration: none;
        font-size:14px;
        color:rgb(51,51,51);
        background-color: yellow;
        padding-right: 20px;
      }
    }
  }
}