.wrapper
  .header
    = image_tag "/material/logo/logo.png", class: "logo"
  .main
    .main__purchase-details
      .main__purchase-details__headline-box
        .main__purchase-details__headline-box__headline
          %h1 購入内容の確認

        .main__purchase-details__product
          .main__purchase-details__product__image-box
            .main__purchase-details__product__image-box__image
              = image_tag "/material/pict/pict-reason-01.jpg", class: "product-image"
          .main__purchase-details__product__name-box
            .main__purchase-details__product__name-box__name
              %h1 これはサンプル画像です。売り物ではありません。
            .main__purchase-details__product__name-box__price
              %h2 送料込み(税込み)¥999,999

        .main__purchase-details__payment-amount
          .main__purchase-details__payment-amount__headline
            %h1 支払い金額
          .main__purchase-details__payment-amount__actual-payment-amount
            %h2 ¥999,999

        .main__purchase-details__method-of-payment
          %h1 支払い方法
          .main__purchase-details__method-of-payment__card
            %p クレジットカード
            %p ************1234
            %p 有効期限 12/20
            = image_tag "/material/icon/icon-visa.png", class: "card-icon"

        .main__purchase-details__shipping-address
          %h1 配送先住所
          %p 〒999-9999
          %p 日本東京都〇〇市〇〇町999-99

        .main__purchase-details__buybtn-field
          .main__purchase-details__buybtn-field__buybtn
            = link_to "購入する", transactions_buy_path ,class: 'text-decoration'